/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.remark {
	border: 1px solid var(--background-modifier-border);
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	background-color: var(--background-primary);
}

.remark__title {
	font-weight: 600;
	margin-bottom: 10px;
}

.remark__author {
	color: var(--text-muted);
	margin-bottom: 5px;
	display: block;
}

.remark__list {
	list-style-type: disc;
	padding-left: 20px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.remark__item {
	margin-bottom: 5px;
	color: var(--text-normal);
}

.image-container {
	margin-top: 10px;
	margin-bottom: 10px;
}

.local-image {
	max-width: 100%; /* 控制图片宽度 */
	height: auto; /* 保持图片比例 */
}
.remark-image {
	max-width: 100%; /* 确保图片不超过容器宽度 */
	height: auto;
	border: 1px solid var(--background-modifier-border);
	border-radius: 5px;
}


.my-actions {
	margin: 2em 2em 0;
}

.order-1 {
	order: 1;
}

.order-2 {
	order: 2;
}

.order-3 {
	order: 3;
}

.right-gap {
	margin-right: auto;
}

.swal-button {
	color: black !important; /* 设置按钮文本颜色为黑色 */
}


/* styles.css */
.button-container {
	display: flex;
	justify-content: center;
	gap: 35px; /* 调整按钮之间的间距 */
}

.custom-setting-item {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	padding: 0 !important;
	margin: 0 !important;
	background: none !important;
	border: none !important;
}

.confirm-button, .cancel-button {
	flex: none; /* 确保按钮不会拉伸 */
	width: 100px; /* 根据需要调整按钮宽度 */
}

/* styles.css */
.modal-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.html-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
